{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('stylesheets/trick/family/index.css') }}">
{% endblock %}

{% block body %}
    <div class="container">

        {# Breadcrumbs #}
        {% include 'component/inc/breadcrumb.html.twig' with { 'links' : {
        'Accueil' : path('homepage'),
        'Groupes' : path('figures_familles_index')
        }} %}

        <div class="row">
            <div class="col-xs-8">
                <table id="listing" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th class="text-bold text-uppercase">Groupes de figures ({{ families|length }})</th>
                        <th class="text-right"><a href="{{ path('figures_familles_new') }}" class="btn btn-primary btn-sm circle tooltip tooltip-left" data-tooltip="Créer un groupe">+</a></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for family in families %}
                        <tr>
                            <td>{{ family.name ~ ' ('~ family.tricks|length ~')' }}</td>
                            <td class="text-right">
                                <a href="{{ path('figures_familles_show', { 'id': family.id }) }}" class="btn btn-primary btn-sm text-bold text-uppercase">Entrer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-xs-4">
                <div id="call-to-new" class="jumbotron text-center">
                    <i class="icon-emo-unhappy h3"></i>
                    <h4 class="text-bold text-uppercase">Une figure orpheline ?</h4>
                    <p>Offrez-lui une vraie famille !</p>
                    <a href="{{ path('figures_familles_new') }}" class="btn btn-primary text-bold text-uppercase">Ouvrez un groupe</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
