{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="{{ asset('stylesheets/trick/family/new.css') }}">
{% endblock %}

{% block body %}

    <div class="container">

        {# Breadcrumbs #}
        {% include 'component/inc/breadcrumb.html.twig' with { 'links' : {
            'Accueil' : path('homepage'),
            'Groupes' : path('figures_familles_index'),
            'Nouveau groupe' : path('figures_familles_new')
        }} %}

        <div class="row">

            <div class="form-container col-xs-6 col-xs-offset-3">

                <h1 class="text-center text-bold">Nouveau groupe</h1>
                <p class="text-gray intro text-center">Un groupe est destiné à collecter des figures.</p>
                <hr>
                <br>

                {{ form_start(form) }}
                    {{ form_widget(form) }}

                    {# Best practice : add this within the template #}
                    <button type="submit" class="btn btn-primary btn-block text-bold text-uppercase">Créer</button>
                {{ form_end(form) }}

            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{{ asset('javascripts/md.js') }}"></script>
{% endblock %}
