{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('stylesheets/trick/family/show.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="columns">
            <div class="column col-12 col-ml-auto col-mr-auto">
                <div id="family" class="panel">
                    <div class="panel-header">
                        <div class="panel-title text-center"><h1>{{ family.name }}</h1></div>
                    </div>
                    <div class="panel-nav">
                        <ul class="tab tab-block">
                            <li class="tab-item"> <a href="#presentation">Présentation</a> </li>
                            <li class="tab-item"> <a href="#figures">Figures ({{ family.tricks|length }})</a> </li>
                            <li class="tab-item"> <a href="#actions">Actions</a> </li>
                        </ul>
                    </div>
                    <div class="panel-body">
                        <div id="presentation" class="text-gray">{{ family.introduction|nl2br }}</div>
                        <div id="figures">

                            {% for trick in family.tricks %}
                                <div class="tile">
                                    <div class="tile-icon">
                                        <figure class="avatar avatar-lg">
                                            <img src="{{ asset(trick.images.first.pathname) | imagine_filter('my_thumb') }}" height="48" width="48">
                                        </figure>
                                    </div>
                                    <div class="tile-content">
                                        <p class="tile-title">{{ trick.name }}</p>
                                        <p class="tile-subtitle text-gray">{{ trick.introduction }}</p>
                                        <p>
                                            <a href="{{ path('figures_show', { id : trick.id }) }}" class="btn btn-sm btn-primary">En savoir +</a>
                                            <a href="{{ path('figures_edit', { id : trick.id }) }}" class="btn btn-sm">Modifier</a>
                                        </p>
                                    </div>
                                </div>

                                {% if not loop.last %}
                                    <div class="divider"></div>
                                {% endif %}

                            {% else %}
                                <div class="empty">
                                    <div class="empty-icon">
                                        <i class="icon icon-stop"></i>
                                    </div>
                                    <p class="empty-title h5">Ce groupe est vide</p>
                                    <p class="empty-subtitle">Soyez le premier à contribuer !</p>
                                    <div class="empty-action">
                                        <a href="{{ path('figures_new') }}" class="btn btn-primary">Créer une figure</a>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                        <div id="actions" class="text-center">

                            <div>
                                <p>Sentez-vous libre de contribuer.</p>
                                <a href="{{ path('figures_familles_edit', { id : family.id }) }}" class="btn btn-primary">Modifier le groupe</a>
                            </div>

                            <br>
                            <div class="divider" data-content="OU"></div>
                            <br>

                            <div class="toast toast-error">
                                <strong>Attention</strong> : en cliquant sur ce bouton, vous supprimez le groupe ainsi que les figures qu'il contient.
                            </div>

                            <br>

                            {{ form_start(delete_form) }}
                                <button type="submit" class="ask-confirm btn btn-sm">Supprimer ce groupe</button>
                            {{ form_end(delete_form) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function(){

            let $links = $('li.tab-item');
            let oldAnchor = null;

            let focusOnLink = function(){
                let url = window.location.href;
                let anchor = url.match('#(.+)$') || [null];

                if(anchor[0] && anchor[0] !== oldAnchor)
                {
                    oldAnchor = anchor[0];
                    $links.filter('.active').removeClass('active');
                    $('a[href="'+anchor[0]+'"]').parent('li.tab-item').addClass('active');
                }
                else
                    setTimeout( focusOnLink, 250 );

            };

            /* Initial and onclick event */
            focusOnLink();
            $links.find('a').click( function(){setTimeout( focusOnLink, 50 );});
        })
    </script>
{% endblock %}
