<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}SnowTricks{% endblock %}</title>
    <meta name="description" content="SnowTricks, votre communauté de Snowboarders !">

    <link href="{{ asset('stylesheets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('stylesheets/fontello/css/animation.css') }}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> <!-- Fonts -->
    <link href="{{ asset('stylesheets/fontello/css/fontello.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('stylesheets/layout.css') }}">
    {% block css %}{% endblock %} {# For dedicated css files #}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <header id="main-header"><img src="{{ asset('images/components/header.png') }}"></header>
    <nav class="navbar navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu-principal-1" aria-expanded="false">
                    <span class="sr-only">Ouvrir le menu principal</span>
                    <i class="icon-menu"></i>
                </button> <!-- Burger  -->
                <a href="{{ path('homepage') }}" class="navbar-brand">
                    <h1 class="hidden-xs"><img src="{{ asset('images/components/snowboarder.png') }}" height="60"> SnowTricks</h1>
                    <h1 class="visible-xs"><img src="{{ asset('images/components/snowboarder.png') }}" height="60"></h1>
                </a> <!-- Brand -->
            </div> <!-- Navbar header -->

            <div class="container-fluid">
            <div class="collapse navbar-collapse" id="menu-principal-1">
                <ul class="navbar-nav nav navbar-right">
                    <li>
                        <a href="{{ path('figures_familles_index') }}" class="text-bold text-center text-ellipsis">Groupes de figures ...</a>
                    </li>

                    {% if app.user %}
                        <li class="dropdown">
                            <button class="btn navbar-btn btn-primary dropdown-toggle btn-sm text-bold text-uppercase btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Mon compte
                                <span class="icon-down-circle"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li class="dropdown-header text-ellipsis">{{ app.user.nickname }}</li>
                                <li><a href="{{ path('edit_profil') }}">Modifier mon profil</a></li>
                                <li class="divider" role="separator"></li>
                                <li><a href="{{ path('logout') }}">Déconnexion</a></li>
                            </ul>
                        </li>
                    {% elseif app.request.get('_route') != 'login' %}
                        <li class="dropdown">
                            <button class="btn navbar-btn btn-primary dropdown-toggle btn-sm text-bold text-uppercase btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Accès membre
                                <span class="icon-down-circle"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li class="hidden-xs">{% include 'authentication/login-inline.html.twig' %}</li>
                                <li role="separator" class="divider hidden-xs"></li>
                                <li class="visible-xs"><a href="{{ path('login') }}"><i class="icon-login"></i> Connexion</a></li>
                                <li class="hidden-xs"><a href="{{ path('password_recovery') }}" class="btn-xs">Mot de passe oublié ?</a></li>
                                <li><a href="{{ path('register') }}"><i class="icon-user-add"></i> Devenir membre !</a></li>
                            </ul>
                        </li>
                    {% endif %}


                </ul>

            </div> <!-- Collpsible menu -->
            </div>
        </div> <!-- Container fluid  -->
    </nav>

    <main id="main">
        {% block body %}{% endblock %}
    </main>

    <footer id="main-footer">
        <div class="container-fluid">
            <div class="col-xs-12 col-md-4">
                <div class="text-center">
                    <br>
                    <h1 class="text-ellipsis">SnowTricks</h1>
                    <small><i class="icon-copyright"></i> <strong>SnowTricks - 2017</strong></small>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="text-center">
                    <br>
                    <p>
                        <a href="https://fr-fr.facebook.com/" target="_blank"><i class="icon-facebook-official ico ic-facebook"></i></a>
                        <a href="https://twitter.com/?lang=fr" target="_blank"><i class="icon-twitter-squared ico ic-twitter"></i></a>
                        <a href="https://plus.google.com/?hl=fr" target="_blank"><i class="icon-gplus-circled ico ic-gplus"></i></a>
                    </p>

                    <p>
                        <i class="icon-desktop" aria-describedby="Consultez SnowTricks depuis votre ordinateur"></i>
                        <i class="icon-tablet" aria-describedby="Consultez SnowTricks depuis votre tablette / phablette"></i>
                        <i class="icon-mobile" aria-describedby="Consultez SnowTricks depuis votre smartphone"></i>
                    </p>
                </div>
            </div>
            <div class="col-xs-12 col-md-4">
                <div class="text-center footer-links">
                    <br>
                    <nav>
                        <a href="javascript:alertCond();"><small>Conditions générales</small></a>
                        {% if not is_granted('ROLE_USER') %}
                            <a href="{{ path('register') }}"><small>Devenir membre</small></a>
                        {% endif %}
                        <a href="{{ path('figures_familles_new') }}"><small>Ouvrir un groupe</small></a>
                        <a href="{{ path('figures_new') }}"><small>Présenter une figure</small></a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    {% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ asset('stylesheets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('javascripts/common.js') }}"></script>
    {% endblock %}
</body>
</html>
