<div id="comment-{{ comment.id }}" class="comment">
    <div class="row">
        <div class="col-sm-2 hidden-xs">
            {% include ':component/inc:avatar_nickname.html.twig' with {user : comment.user} %}
        </div>
        <div class="col-xs-12 col-sm-10">
            <div class="comment-bg">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-7">
                                <div class="comment-author"><strong>{{ comment.user.nickname }}</strong></div>
                            </div>
                            <div class="col-xs-5 text-right">
                                <div class="comment-date text-gray">
                                    <small>{{ comment.createdAt|date("d/m/Y, H:i") }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="comment-comment"><blockquote>{{ comment.comment|nl2br }}</blockquote></div>
                    </div>

                    {% if is_granted('ROLE_USER') %}
                        <div class="col-xs-12 text-right">
                            <div class="comment-actions">
                                <a href="{{ path('edit_comment', {id:comment.id} ) }}" class="edit-comment btn-xs">Modifier</a>
                                <a href="{{ path('remove_comment', {id : comment.id} ) }}" class="remove-comment btn-xs text-danger">Supprimer</a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>