{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <link rel="stylesheet" href="{{ asset('stylesheets/trick/trick/edit.css') }}">
{% endblock %}

{% block body %}

    <div class="container">

        {% include 'component/inc/breadcrumb.html.twig' with { 'links' : {
            'Accueil' : path('homepage'),
            'Groupes' : path('figures_familles_index'),
            (trick.family.name) : path('figures_familles_show', { id : trick.family.id, slug : trick.family.slug }),
            (trick.name) : path('figures_show', { id : trick.id, slug : trick.slug }),
            'Modifier' : app.request.requestUri
        }} %}

        <div class="row">
            <div class="form-container col-xs-6 col-xs-offset-3">

                <h1 class="text-center text-bold">{{ trick.name ?? 'Sans titre' }}</h1>

                {# Afficher message default/success/erreur #}
                {% for success in app.flashes('success') %}
                    <p class="alert alert-success text-center">{{ success|raw }}</p>
                {% else %}

                    {% if form_errors(edit_form) %}
                        <p class="toast toast-error text-center">Veuillez vérifier votre saisie</p>
                    {% else %}
                        <p class="text-gray text-center">Vous modifiez la figure</p>
                    {% endif %}

                {% endfor %}



                <hr>

                {{ form_start(edit_form) }}

                    {{ form_row(edit_form.name) }}
                    {{ form_row(edit_form.introduction) }}
                    {{ form_row(edit_form.family) }}

                    {# Images #}
                    {% for form_image in edit_form.images %}

                        {% if loop.first %}
                            <div id="{{ form_image.parent.vars.id }}" data-prototype="{{ form_row(form_image.parent.vars.prototype)|e }}">
                        {% endif %}

                        <div class="image">

                            <label class="form-label">Image :</label>
                            <div style="display: none;">{{ form_widget(form_image) }}</div>

                            <div class="text-center">
                                <img src="{{ asset(form_image.vars.value.pathname) }}" class="img-responsive">
                                <button class="remove-existing-image btn btn-link btn-block btn-sm">Supprimer cette image</button>
                            </div>
                        </div>

                        {% if loop.last %}
                            </div>
                        {% endif %}

                    {% endfor %}

                    {# Videos #}
                    {% for form_video in edit_form.videos %}

                        {% if loop.first %}
                            <div id="{{ form_video.parent.vars.id }}" data-prototype="{{ form_row(form_video.parent.vars.prototype)|e }}">
                        {% endif %}

                        <div class="video">
                            {{ form_widget(form_video) }}
                            <button class="remove-existing-video btn btn-link btn-block btn-xs">Supprimer cette vidéo</button>
                        </div>

                        {% if loop.last %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {# Buttons media #}
                    <div class="form-group">
                        <label class="form-label">Ajouter des média :</label>
                        <p id="btn-add-media">
                            <button type="button" class="add-image btn btn-default btn-sm"><i class="icon-picture"></i> Ajouter une image</button>
                            <button type="button" class="add-video btn btn-default btn-sm"><i class="icon-video"></i> Ajouter une vidéo</button>
                            {{ form_errors(edit_form) }}
                        </p>
                    </div>

                    <br>

                    <div>
                        <button type="submit" class="btn btn-primary btn-block text-bold text-uppercase">Modifier</button>
                    </div>

                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                <button type="submit" class="ask-confirm btn btn-block btn-sm btn-link">Supprimer cette figure</button>
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{{ asset('javascripts/md.js') }}"></script>
    <script src="{{ asset('javascripts/trick/image_subform.js') }}"></script>
    <script src="{{ asset('javascripts/trick/video_subform.js') }}"></script>
{% endblock %}
