{% extends 'base.html.twig' %}

{% block body %}
    <h1>Tricks list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Family</th>
                <th>Introduction</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>
                <td><a href="{{ path('figures_show', { 'id': trick.id }) }}">{{ trick.id }}</a></td>
                <td>{{ trick.name }}</td>
                <td>{{ trick.family.name }}</td>
                <td>{{ trick.introduction }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('figures_show', { 'id': trick.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('figures_edit', { 'id': trick.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('figures_new') }}">Create a new trick</a>
        </li>
    </ul>
{% endblock %}
