{% extends 'base.html.twig' %}

{% block body %}
    <h1>Trick creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="button" class="add-image">+ image</button>
        <button type="button" class="add-video">+ vidéo</button>
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('figures_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascripts/trick/image_subform.js') }}"></script>
    <script src="{{ asset('javascripts/trick/video_subform.js') }}"></script>
{% endblock %}