{% extends 'base.html.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('stylesheets/trick/trick/show.css') }}">
{% endblock %}

{% block body %}

    <div class="container">

        {% include 'component/inc/breadcrumb.html.twig' with { 'links' : {
            'Accueil' : path('homepage'),
            'Groupes' : path('figures_familles_index'),
            (trick.family.name) : path('figures_familles_show', { id : trick.family.id, slug : trick.family.slug }),
            (trick.name) : path('figures_show', { id : trick.id, slug : trick.slug})
        }} %}

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <h1 id="trick-name" class="text-break">{{ trick.name }} <small>{{ trick.family.name }}</small></h1>

                <div class="encart">
                    <label>EN BREF</label>
                    <p>{{ trick.introduction|nl2br|markdown|purify }}</p>
                </div>

                <div class="encart">
                    <label>EN IMAGES</label>
                    <div class="row">
                        {% for image in trick.images %}
                            <div class="col-xs-6 col-md-3">
                                <a href="javascript:;">
                                    <img src="{{ (image.pathname) | imagine_filter('thumbnailer') }}" class="img-responsive thumbnail image-trick" data-original="{{ asset(image.pathname) }}">
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="encart">
                    <label>EN VIDEOS</label>
                    <div class="row">
                        {% for video in trick.videos %}
                            <div class="video col-xs-12 col-md-6">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe src="{{ video.urlOrIframe|video }}" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                {% if is_granted('ROLE_USER') %}
                    <div class="encart">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                {{ form_start(delete_form) }}
                                <button type="submit" class="btn btn-default ask-confirm text-bold text-uppercase btn-block">Supprimer la figure</button>
                                {{ form_end(delete_form) }}
                            </div>

                            <div class="col-xs-12 col-sm-6">
                                <a href="{{ path("figures_edit", { id : trick.id }) }}" class="btn btn-primary text-bold text-uppercase btn-block">Modifier la figure</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div> <!-- Col left -->

            <div class="col-xs-12 col-md-6">

                <h1 id="comment-area"><small>Commentaires</small></h1>

                {% if comment_form is not null %}
                    <div class="encart">
                        {{ form_errors(comment_form) }}
                        {{ form_start(comment_form) }}

                        <label for="appbundle_trick_comment_comment" class="text-uppercase"><i class="icon-comment"></i>  Commentaire</label><br><br>
                        {{ form_widget(comment_form.comment, { 'attr' : { 'placeholder' : 'Partagez vos impressions ...' }}) }}

                        <br>
                        <p class="text-right">
                            <button type="submit" class="btn btn-primary btn-sm text-bold text-uppercase">Publier</button>
                        </p>
                        {{ form_end(comment_form) }}
                    </div>
                {% else %}
                    <div class="encart text-center text-info">
                        <a href="{{ path('login') }}?_target_path={{ app.request.requestUri }}"><i class="icon-login"></i> Connectez-vous pour commenter</a>
                    </div>
                {% endif %}

                <div id="comments" data-controller="{{ path( 'trick_comments', {id : trick.id, page : 0} ) }}">
                    <div class="text-center">
                        <p class="loading"><i class="icon-spin2 animate-spin"></i> Chargement des commentaires ...</p>
                    </div>
                </div>


            </div> <!-- Col right -->
        </div>
    </div>

    <div id="image-viewer" class="hidden">
        <a href="javascript:;" id="btn-close-view" class="btn btn-danger text-uppercase text-bold icon-cancel"></a>
        <img src="">
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('javascripts/trick/image.js') }}"></script>
    <script src="{{ asset('javascripts/trick/comment.js') }}"></script>
{% endblock %}
