{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% include 'component/inc/breadcrumb.html.twig' with { 'links' : {
            'Accueil' : path('homepage'),
            (app.user.nickname) : app.request.requestUri
        }} %}


        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3">

                <h1>Modifier profil</h1>
                <hr>

                {% for success in app.flashes('success') %}
                    <div class="alert alert-success text-center">{{ success }}</div>
                {% endfor %}

                {{ form_start(form) }}

                {{ form_row(form.nickname) }}



                {% if user.avatarPathname is not empty %}
                    <img src="{{ asset(user.avatarPathname) }}" height="100">
                {% endif %}

                {{ form_row(form.avatarFile) }}
                {{ form_row(form._token) }}

                <br><br>
                <button type="submit" class="btn btn-primary btn-block text-bold text-uppercase">Modifier</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>


{% endblock %}