{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        {% include 'component/inc/breadcrumb.html.twig' with { 'links' : {
            'Accueil' : path('homepage'),
            'Connexion' : app.request.requestUri
        }} %}

        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">

                {% if error %}
                    <div class="alert alert-danger">
                        Cette combinaison ne nous a pas permis de vous authentifier.
                    </div>
                {% endif %}

                {{ form_start(form, {'attr':{'action': path('login_check') }}) }}

                    <div class="form-group">
                        <label for="appbundle_authentication_user_email">Adresse Email :</label>
                        {{ form_widget(form.email) }}
                    </div>

                    <div class="form-group">
                        <label for="appbundle_authentication_user_password">Mot de passe :</label>
                        {{ form_widget(form.password) }}
                    </div>

                    <div class="form-group text-center">
                        <label>
                            Mémoriser la connexion
                            <input type="checkbox" name="_remember_me" checked>
                        </label>
                    </div>

                    <button type="submit" class="btn btn-primary text-bold text-uppercase btn-block">Connexion</button>
                {{ form_end(form) }}

                <hr>
                <div class="text-center">
                    <a href="{{ path('register') }}">Créer un compte</a> |
                    <a href="{{ path('password_recovery') }}">J'ai oublié mon mot de passe</a>
                </div>

            </div>
        </div>
    </div>
{% endblock %}