{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        {% include 'component/inc/breadcrumb.html.twig' with { 'links' : {
            'Accueil' : path('homepage'),
            'Réinitialisation de mot de passe' : app.request.requestUri
        }} %}

        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">

                <h1>Nouveau mot de passe</h1>
                <p class="text-gray">Et ne l'oubliez plus !</p>
                <hr>

                {{ form_start(form) }}

                    <div class="form-group">
                        <label>Mot de passe</label>
                        {{ form_widget(form.password.first) }}
                    </div>

                    <div class="form-group">
                        <label>Mot de passe (répéter)</label>
                        {{ form_widget(form.password.second) }}
                    </div>

                {{ form_widget(form) }}
                <button type="submit" class="btn btn-block btn-primary text-bold text-uppercase">Modifier</button>
                {{ form_end(form) }}

                <hr>
                <div class="text-center">
                    <a href="{{ path('login') }}">Connexion</a> |
                    <a href="{{ path('register') }}">Inscription</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}