{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Modifier</button>
    {{ form_end(form) }}

    <hr>
    <a href="{{ path('login') }}">Connexion</a> |
    <a href="{{ path('register') }}">Inscription</a>
{% endblock %}