{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit">Modifier</button>
                {{ form_end(form) }}

                <hr>
                <a href="{{ path('login') }}">Connexion</a> |
                <a href="{{ path('register') }}">Inscription</a>
            </div>
        </div>
    </div>


{% endblock %}